@import 'vars';
@import 'global';
@import 'fonts';

/* start HEADER */
.header__top-inner {
  display: flex;
  justify-content: space-between;
  height: 90px;
  align-items: center;
}

.header__text {
  margin-left: auto;
  margin-right: 50px;

  span {
    color: $red;
  }
}

.header__btn {
  padding: 4px;
  width: 72px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  font-size: 12px;
}

.header__btn-login {
  background-color: $green;
}

.header__btn-register {
  background-color: $red;
  margin-left: 7px;
}

.header__menu {
  background-color: $bg;
}

.menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.menu__list {
  li {
    display: inline-block;

    &+li {
      margin-left: 30px;
    }
  }

  a {
    color: #fff;
    font-size: 14px;
  }
}

/* end HEADER */

/* start SEARCH */
.search {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 533px;
}

.search__inner {
  /* Верхний падинг был 155, но уменьшили до 142 за счет увеличения высоты строки заголовка. Нижний падинг задаем не до самого низа, чтобы оставить место в запасе, если блок будет расширяться */
  padding: 142px 0 100px;
  color: #fff;
  text-align: center;

  &-title {
    margin-bottom: 8px;
    /* было 28, но за счет высоты строки уменьшили до 8ми */
    font-size: 48px;
    line-height: 1.5;
    /* высоту строки прописываем зачастую 1.5 от размера шрифта */
    @include f700;
  }

  &-text {
    margin-bottom: 50px;
    @include f500;
    font-size: 20px;
    line-height: 1.5;
  }

  &-form {
    max-width: 670px;
    margin: 0 auto;
    position: relative;

    input {
      display: block;
      height: 56px;
      width: 100%;
      box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
      border-radius: 4px;
      border: none;
      font-size: 14px;
      @include f500;
      outline: transparent;
      padding: 0 60px 0 25px;

      &::placeholder {
        color: #90a4ae;
        @include f500;
      }
    }

    button {
      position: absolute;
      border: none;
      background-color: transparent;
      right: 20px;
      top: 16px;
    }
  }
}

/* end SEARCH */

/* start PRODUCTS */

.products {
  padding: 110px 0;
  background-color: $grey;
}

.products__inner-btn {
  text-align: center;
  margin-bottom: 60px;

  /* отступ к блокам с картинкой */
  button {
    padding: 12px 21px;
    border: none;
    background-color: #fff;
    color: $bg;
    cursor: pointer;

    &+button {
      margin-left: 5px;
    }
  }
}

.products__inner-box {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.product__item {
  max-width: 442px;
  width: 100%;
  box-shadow: 0px 1px 2px 0px rgba(205, 214, 222, 0.75);
  margin-bottom: 30px;

  &-img {
    display: block;
    min-height: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &-content {
    display: flex;
    justify-content: space-between;
    @include f500;
    padding: 10px 30px;
    align-items: center;
    min-height: 90px;
    border-bottom: 1px solid #e7ecf2;
  }

  &-name {
    max-width: 310px;
    /* подобной шириной оставляем место для блока с ценой, чтобы ничего никогда друг на друга не налезало, а переносилось на другую строку */
  }

  &-title {
    margin-bottom: 4px;
    display: block;
    font-size: 18px;
    color: $bg;
  }

  &-category {
    font-size: 14px;
    color: $green;
    display: block;
  }

  &-price {
    font-size: 20px;
    @include f700;
    color: $bg;
  }

  &-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 70px;
    padding: 10px 30px;
  }

  &-author {
    display: flex;
    align-items: center;
    max-width: 245px;

    .avatar {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      display: inline-block;
      margin-right: 14px;
    }

    span {
      font-size: 14px;
      @include f500;
    }
  }

  &-star {
    font-size: 12px;

    span {
      color: $bg;
    }
  }
}

.products__bottom-btn {
  margin-top: 45px;

  button {
    font-size: 16px;
    box-shadow: 0px 1px 3px 0px rgba(204, 216, 228, 0.75);
    padding: 18px 33px;
  }
}

/* end PRODUCTS */

/* start product-slider */

.product-slider {
  padding: 110px 0 120px;

  .slick-track {
    margin-bottom: 40px;
  }

  .slick-dots {
    text-align: center;

    li {
      display: inline-block;
      margin: 0 3px 0 4px;

      button {
        width: 16px;
        height: 16px;
        border: transparent;
        border-top: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 50%;
        color: #e8e8e8;
        font-size: 0;
        cursor: pointer;
        outline: transparent;
      }
    }
  }

  .slick-active {
    button {
      background-color: #8bc34a;
      border: transparent;
    }
  }
}

/* end product-slider */

/* start advantages */

.advantages {
  padding: 110px 0;
  background-color: $bg;
  color: #fff;

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__title {
    margin-bottom: 80px;
    text-align: center;
    @include f700;
    font-size: 36px;
  }

  &__item {
    text-align: center;
    max-width: 370px;
    padding: 0 15px;
    transition: all 0.3s;

    &:hover {
      .advantages__item-images {
        background-color: #8bc34a;
      }

      .advantages__item-title {
        color: #8bc34a;
      }

      svg {
        stroke: #fff;
        fill: #fff;
      }
    }

    &-images {
      margin: 0 auto 30px;
      width: 114px;
      height: 114px;
      border-radius: 50%;
      background-color: #fff;
      transition: background-color 0.3s;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: all 0.3s;
    }

    &-title {
      margin-bottom: 25px;
      font-size: 24px;
      @include f500;
      transition: color 0.3s;
    }

    &-text {
      color: #b0bec5;
    }
  }
}

/* end advantages */

/* start author */
.author {
  min-height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;

  &__box {
    max-width: 650px;
    width: 100%;
    min-height: 215px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #8bc34a;
    color: #fff;
  }

  &__title {
    max-width: 290px;
    margin-right: 45px;
    font-size: 30px;
    line-height: 1.15;
  }

  &__link {
    padding: 14px 40px;
    background-color: #fff;
    font-size: 18px;
    line-height: 2;
    color: $bg;
  }
}

/* end author */

/* Start tutorial */

.tutorial {
  padding: 60px 0 90px;

  &__title {
    margin-bottom: 50px;
    text-align: center;
    @include f700;
    font-size: 36px;
    color: $bg;
  }

  &__inner {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  &__item {
    max-width: 370px;
    width: 100%;
    margin: 0 30px 30px 0;
  }

  &__img {
    min-height: 270px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  &__text {
    padding: 20px 0;
    background-color: #f8f8f8;
    @include f700;
    font-size: 24px;
  }
}

/* End tutorial */

/* Start footer */

.footer {
  background-color: $bg;

  &__inner {
    padding: 110px 0 100px;
    display: flex;
    justify-content: space-between;
  }

  &__about {
    max-width: 270px;
  }

  &__title {
    position: relative;
    margin-bottom: 30px;
    padding-bottom: 25px;
    font-size: 22px;
    font-weight: 700;
    line-height: 1.15;
    color: #fff;

    &::before {
      content: '';
      width: 55px;
      height: 3px;
      position: absolute;
      bottom: 0;
      background-color: $green;
    }
  }

  &__text {
    margin-bottom: 30px;
    color: #b7c3c8;
  }

  &__info {
    padding-left: 30px;
    position: relative;
    font-family: 'Lato-Regular', sans-serif;
    font-style: normal;
    font-size: 14px;
    color: #fff;
  }

  &__list {
    color: #b7c3c8;
  }

  &__link {
    position: relative;
    padding-left: 25px;
    margin-bottom: 15px;
  }

  &__icon {
    position: absolute;
    left: 0;
    font-size: 18px;
    color: $green;
  }

  &__join {
    max-width: 230px;
  }

  &__support {
    max-width: 190px;
  }

  &__social {
    max-width: 260px;
    width: 100%;
  }

  &__social-icons {
    display: flex;
    flex-wrap: wrap;
  }

  &__social-icon {
    margin-right: 7px;
  }

  &__form-title {
    margin-bottom: 10px;
    font-size: 20px;
    color: #fff;
  }

  &__bottom {
    padding: 18px 0;
    border-top: 1px solid #424d53;
    text-align: center;
    line-height: 2.4;
    color: #919699;
  }
}

.form {

  &__body {
    display: flex;
  }

  &__input {
    width: 100%;
    padding: 0 10px 0 15px;
    background-color: #2f3c43;
    border-width: 1px 0 0 1px;
    font-size: 14px;
    color: #697378;
  }

  &__btn {
    background-color: $green;
    padding: 0 10px;
    border-width: 1px 1px 0 0;
    font-size: 20px;
    line-height: 1.8;
    color: #fff;
  }
}

/* End footer */